<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" ui-sref="dashboard"><img class="app-logo" src="/assets/images/dog.png" alt="logo">AIR HOUND</a> -->
      <a class="navbar-brand" ui-sref="dashboard">Air Hound</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href='#/about'>About</a></li>
        <li><a ng-href='https://airhound-dev.540.co/api-docs/' target="_blank">API Docs</a></li>
        <li><a ng-href="http://github.com/540co/epa-rfi" target="_blank"><span class="fa fa-github fa-lg"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
