<div id="techbar">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12">
        <h5>Powered by</h5>
        <br />
        <a href="https://angularjs.org/" target="_blank">
          <img src="./assets/images/tech/angular.png" alt="AngularJS" title="AngularJS" class="footer-icon" />
        </a>
        <a href="http://aws.amazon.com/" target="_blank">
          <img src="./assets/images/tech/aws.png" alt="AWS" title="AWS" class="footer-icon" />
        </a>
        <a href="http://bower.io/" target="_blank">
          <img src="./assets/images/tech/bower.png" alt="Bower" title="Bower Package Manager" class="footer-icon" />
        </a>
        <a href="https://www.docker.com/" target="_blank">
          <img src="./assets/images/tech/docker.png" alt="Docker" title="Docker" class="footer-icon" />
        </a>
        <a href="https://github.com/" target="_blank">
          <img src="./assets/images/tech/github.png" alt="GitHub" title="GitHub" class="footer-icon" />
        </a>
        <a href="http://gulpjs.com/" target="_blank">
          <img src="./assets/images/tech/gulp.png" alt="Gulp JS" title="Gulp Task Runner" class="footer-icon" />
        </a>
        <a href="http://jasmine.github.io/" target="_blank">
          <img src="./assets/images/tech/jasmine.png" alt="JasmineJS" title="Jasmine Behavior-Driven JavaScript" class="footer-icon" />
        </a>
        <a href="http://karma-runner.github.io/0.12/index.html" target="_blank">
          <img src="./assets/images/tech/karma.png" alt="KarmaJS" title="KarmaJS" class="footer-icon" />
        </a>
        <a href="https://nodejs.org/" target="_blank">
          <img src="./assets/images/tech/node.png" alt="NodeJS" title="NodeJS" class="footer-icon" />
        </a>
        <a href="https://travis-ci.org/" target="_blank">
          <img src="./assets/images/tech/travis-ci.png" alt="Travis-CI" title="Travis-CI" class="footer-icon" />
        </a>
        <a href="http://yeoman.io/" target="_blank">
          <img src="./assets/images/tech/yeoman.png" alt="Yeoman" title="Yeoman" class="footer-icon" />
        </a>
      </div>
    </div>
  </div>
</div>
