<div id="about-section" ng-hide="hide">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Air Hound</h2>
        <h4>Helping You Sniff Out Clean Air</h4>
        <p class="lead">
          Air Hound is a lightweight application that gives you information on air quality in your neighborhood (or any other neighborhood in the United States) over time.  The United States Environmental Protection Agency's Toxic Release Inventory feeds Air Hound information on the the release of hazardous air pollutants identified in the Clean Air Act.  Air Hound allows you to the magnitude and trends of these releases over time in specific geographic areas.
        </p>
        <div class="row text-center">
          <h5 class="lead"><i class="gi gi-cloud"></i> Air pollutants <i class="gi gi-line-chart"></i> Visualize data <i class="gi gi-leaf"></i> Reduction Footprint <i class="gi gi-building"></i> Facility info</h5>
          <a href="" ng-click="hide=true">Hide this section</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout="column" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('min-width: 633px')">
      <md-toolbar class="md-theme-pink">
        <h1 class="md-toolbar-tools">Dashboard Options</h1>
      </md-toolbar>
      <md-content layout-padding>
        <h6 class="md-title">
          Select filters below to change the dashboard.
        </h6>
          <md-select ng-model="searchFilter.startYear" placeholder="Start Year">
            <md-option ng-value="opt" ng-repeat="opt in vm.yearFilters">{{ opt }}</md-option>
          </md-select>
          <md-select ng-model="searchFilter.endYear" placeholder="End Year">
            <md-option ng-value="opt" ng-repeat="opt in vm.yearFilters">{{ opt }}</md-option>
          </md-select>
          <md-select ng-model="searchFilter.state" placeholder="State">
            <md-option ng-value="opt" ng-repeat="opt in vm.stateFilters">{{ opt }}</md-option>
          </md-select>
      </md-content>
      <md-button class="md-raised md-primary" ng-click="vm.updateDashboard(searchFilter)">Update Dashboard</md-button>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-8">
                  <div class="card">
                    <div class="text-center">
                      <h1 id="dash-main-number">{{vm.netReductionPounds | number : fractionSize}}</h1>
                      <h1 class="lead">Pounds of Air Pollutant Reduction Since YEAR</h1>
                      <div class="card-content">
                        <p>Figure only contains reported Air Releases</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="text-center">
                      <h1 id="dash-side-number">{{vm.netReductionPercent}} %</h1>
                      <p class="lead">
                        Decrease of Net Air Releases
                      </p>
                      <div class="card-content">
                        <p>Over the past 10 years</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="card graph-card">
                    <div class="text-center">
                      <h4>Reduction of Air Pollutants By Year (Pounds)</h4>
                      <canvas id="line" class="chart chart-line" chart-data="vm.airData" chart-labels="vm.labels" chart-legend="true" chart-series="vm.series" chart-options="vm.options" chart-click="onClick" height="100">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12">
                  <div class="card filters text-center">
                    <h5>Optional Filters</h5>
                    <div class="inset" ng-controller="DashboardController" ng-cloak>
                      <md-switch ng-model="vm.toggle.cb2" aria-label="Switch 2" ng-true-value="'Air Production'" ng-false-value="'Air Reduction'" class="md-warn">
                        {{ vm.toggle.cb2 }}
                      </md-switch>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex></div>
      <br>
      <br><br>
    </md-content>
  </section>
</div>
